
.container {
    width: 1100px;

    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    background: #3F3F41;
}
.container-f input {
    display: block ;
    width: 60%;
    background:#535355 ;
    color: #fff;
    margin-bottom: 10px;
    padding: 15px 20px;
    text-align: center;
    border-radius: 7px;
}
.container-f label{
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

.container-f input[type=submit] {
    width: 100%;
    background: #77ac37;
    margin-top: 10px;
    border: 1px solid #77ac37;
}

.output {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 50%;
}
.output table{
    width: 40%;
    height: 40%;
}
.output td {
    border: 1px solid #fff;
    border-radius: 6px;
    width: 25px;
    height: 25px;
    color: #fff;
    text-align: center;
}
body {
    background: #3F3F41;
}